body{
    /*overflow: hidden;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*position: fixed;*/
    background-image: url("/static/img/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}